{# templates/list/index.html.twig #} {% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a style="margin-left:150px;color: #000080;" class="nav-link"
                       href="{{ path('app_product') }}">Create product</a>
                </li>
                <li class="nav-item">
                    <a style="margin-right:150px;color: #000080;" class="nav-link"
                       href="{{ path('app_product_category') }}">Create category</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">List products</div>
                        <AmpContent>
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by category">
                            <table id="myTable" class="table">
                                <tr>
                                    <th>id</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                </tr>
                                {% for product in products|filter(product=>product.name) %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.productCategory.name }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>{{ product.description }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </AmpContent>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function myFunction() {
            let input, filter, table, tr, mainColumn, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                mainColumn = tr[i].getElementsByTagName("td")[2];
                if (mainColumn) {
                    txtValue = mainColumn.textContent || mainColumn.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}